[Unit]
Description = bottleNet service to detect opened/closed bottles
After = network.target # Assuming you want to start after network interfaces are made available
 
[Service]
Type = simple
ExecStart = uvicorn main:app --host 0.0.0.0 --port 3000 --reload
User = ec2-user # User to run the script as
Group = ec2-user # Group to run the script as
Restart = on-failure # Restart when there are errors
SyslogIdentifier = bottlenet
RestartSec = 2
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target # Make it accessible to other users